In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
trips = pd.read_csv('data/trips.csv')
trips

          activityid  personid        modechoice
0                  1         3              WALK
1                  2         3              WALK
2                  3         3              WALK
3                  4         3              WALK
4                  5         3              WALK
...              ...       ...               ...
14047024    17147588   4113994  DRIVE_ALONE_FREE
14047025    17147589   4113994  DRIVE_ALONE_FREE
14047026    17147590   4113994  DRIVE_ALONE_FREE
14047027    17147592   4113995      SHARED_3_HOV
14047028    17147593   4113995  DRIVE_ALONE_FREE

[14047029 rows x 3 columns]

In [5]:
utility = pd.read_csv('data/utilityvars.csv')
utility

,activityid,age,gender,autosuf,numhouseholdpersons,income,oduden,oempden,ototint,dempden,...,parkingwalktime,sovcost,hovcost,tollcost,tourpurpose,tourmode,firststop,laststop,zerototalstops,targettripmode
0,12150818,4,True,2,2,4,9.633200,11.594058,4.0,67.659134,...,0.0,46.447229,46.447229,46.447229,0,5,True,False,False,1
1,3018709,6,False,2,2,1,8.304700,70.117912,12.0,32.273338,...,0.0,495.225231,495.225231,495.225231,0,1,False,False,False,1
2,8809200,6,False,2,6,3,10.189500,47.538746,3.0,13.567157,...,0.0,462.137117,462.137117,462.137117,0,1,False,False,True,1
3,11332534,4,False,2,1,2,13.393200,21.983759,4.0,51.544109,...,0.0,342.291418,342.291418,342.291418,0,1,False,False,False,1
4,6130767,6,False,2,3,2,13.274000,6.568953,3.0,8.480003,...,0.0,310.186071,310.186071,310.186071,0,1,False,False,False,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14047024,10138525,2,True,2,4,2,35.460899,286.328949,14.0,12.385718,...,0.0,842.672156,842.672156,842.672156,5,5,False,False,False,5
14047025,16270294,7,False,2,4,3,17.207199,19.868286,13.0,1.423494,...,0.0,13.350623,13.350623,13.350623,5,3,False,False,False,3
14047026,16270295,7,False,2,4,3,16.574200,1.423494,13.0,88.151642,...,0.0,137.377041,137.377041,137.377041,5,3,False,False,False,3
14047027,10138526,2,True,2,4,2,22.916100,12.385718,14.0,8.472905,...,0.0,5.447711,5.447711,5.447711,5,5,False,False,False,3
14047028,10138527,2,True,2,4,2,23.146999,8.472905,14.0,950.602234,...,0.0,286.207691,286.207691,286.207691,5,5,False,True,False,5

In [7]:
trips.dtypes.unique()

array([dtype('int64'), dtype('O')], dtype=object)

In [8]:
utility.dtypes.unique()

array([dtype('int64'), dtype('bool'), dtype('float64')], dtype=object)

In [10]:
# check for problem features and missing data
for col in list(trips):
    print(col,':',trips[col].unique())

activityid : [       1        2        3 ... 17147590 17147592 17147593]
personid : [      3       4       5 ... 4113993 4113994 4113995]
modechoice : ['WALK' 'SHARED_2_HOV' 'DRIVE_ALONE_FREE' 'SCH_BUS' 'SHARED_3_HOV'
 'WALK_SET' 'BIKE' 'KNR_SET' 'PNR_SET' 'DRIVE_ALONE_PAY' 'SHARED_2_PAY'
 'SHARED_3_PAY']

In [9]:
# check for problem features and missing data
for col in list(utility):
    print(col,':',utility[col].unique())

activityid : [12150818  3018709  8809200 ... 16270295 10138526 10138527]
age : [4 6 7 2 3 1 0]
gender : [ True False]
autosuf : [2 1 0]
numhouseholdpersons : [ 2  6  1  3  4  5  7  8  9 10]
income : [4 1 3 2 5]
oduden : [ 9.63319969  8.3046999  10.18949986 ... 62.67900085 58.9233017
 31.80550003]
oempden : [  11.59405804   70.11791229   47.53874588 ...  658.33776855  254.5579834
 1974.05187988]
ototint : [ 4. 12.  3.  1.  2.  6. 13. 11. 10. 25. 23. 14.  9. 24. 22. 26. 15.  8.
 27.  5. 16.  7. 18. 20. 17. 21. 19.]
dempden : [  67.65913391   32.27333832   13.56715679 ...  254.5579834     6.26534557
 1974.05187988]
sovdrivetime : [ 5.05331821 31.22618489 30.14556871 ...  1.40309007  1.17369234
 27.11808723]
hovdrivetime : [ 5.05331821 31.22618489 30.14556871 ...  1.40309007  1.17369234
 27.11808723]
tolldrivetime : [ 5.05331821 31.22618489 30.14556871 ...  1.40309007  1.17369234
 27.11808723]
tollcostsov : [  0.         160.26133728 201.02601624 ... 193.25448608 171.62652588
 214.60983276]
tollcosthov2 : [  0.         160.26133728 201.02601624 ... 193.25448608 171.62652588
 214.60983276]
tollcosthov3 : [  0.         160.26133728 201.02601624 ... 193.25448608 171.62652588
 214.60983276]
walkttime : [ 10.67752425 113.84488309 106.23842002 ... 128.4889159  193.71774137
  65.79487301]
walktotransitutility : [-999.           -1.38003333   -4.18049666 ...   -4.11135999   -7.36261449
   -4.03010998]
drivetotransitutility : [-9.99000000e+02  9.63493352e-02 -4.41423459e+00 ... -3.81204605e-01
 -2.42566667e+00 -5.62019045e+00]
parkingcost : [  0.         943.         125.         ... 177.88462289 703.44739538
 702.47841894]
parkingwalktime : [ 0.          6.99847734  3.00437999 11.22831213  4.81464612  4.90141417
  4.74134735  8.87948606  7.30896118  3.88355489  4.24223153  5.56748788
  7.02171889  6.84693506 10.67709415  9.27982167  8.77813222  7.48715377
  8.30862869  5.60264982  7.31680874 13.18856332  4.48140997  8.46961595
  3.70014982 11.92260438  8.4989074   4.55017625  4.79133213  4.5292895
  4.57275335 11.04100755 11.67349399  8.37847699  8.326858    6.82283714
  8.34806598  4.74216693  8.49747457  5.13842857  8.76136532  8.04267479
  9.46618949  6.32221568  6.90979747  7.67068931  4.24626378  4.86298683
  4.94451545  5.09140047  3.23300109 10.84463723  4.21674023  9.03553541
  5.54983352  8.72178846  6.83129     5.09893363  9.24631366  4.77877687
  6.01187254  6.35148057  5.37675406  4.77398838  5.80154637  3.70569492
  9.06028261  8.30174899 10.0084085   5.93846795 10.41654161  3.97198142
  5.41541047  4.74271836  3.61121622  6.04958991  5.63760394  8.6752166
  5.86099358  6.03640015  6.15466425  4.71780353  7.04188013  5.89312223
  4.82212467  8.66868354  8.31923875 10.39058307]
sovcost : [ 46.44722948 495.22523059 462.13711695 ... 558.9267719  842.6721565
 286.20769133]
hovcost : [ 46.44722948 495.22523059 462.13711695 ... 558.9267719  842.6721565
 286.20769133]
tollcost : [ 46.44722948 495.22523059 462.13711695 ... 558.9267719  842.6721565
 286.20769133]
tourpurpose : [0 7 3 2 1 4 5 6]
tourmode : [ 5  1  7  3  9 12 10 11  8]
firststop : [ True False]
laststop : [False  True]
zerototalstops : [False  True]
targettripmode : [ 1  7  3  5  9 12  4 11 10  2  6  8]